*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", sans-serif;
    direction: rtl;
}
/* main rules */
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --dark-blue:#180d8d;
    --light-blue:#3532b4;
    --main-backg:#eee;
    --sec-backg: #ddd;
    --thrd-backg: #9e9e9e61;
    --white-color: #fff;
    --black: #333;
    --green: #57b6f6;
}
/* patient_search */
.content .patient_search {
    width: 97%;
    background-color: var(--main-backg);
    border-radius: 10px;
    transition: 1s;
    margin: 20px;
    padding: 20px;
}
.content .patient_search form{
    margin-bottom: 20px;
    margin-top: 20px;
}
.content .patient_search form label {
    font-weight: bold;
    display: block;
}
.content .patient_search form input {
    width: 500px;
    padding: 5px 10px !important;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.5s;
}
.content .patient_search form input:hover{
    border: 1px solid blue;
}
.content .patient_search form button {
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: var(--white-color);
    background-image: linear-gradient(110deg , #180d8d,#3532b4 60%, #180d8d);
    cursor: pointer;
}
.content .patient_search .patient_table {
    display: block;
    transition: .5s;
    margin-top: 20px;
}
.content .patient_search .patient_table table {
    width: 100%;
    border-spacing: 0;
    transition: .5s;
    text-align: center;
}
.content .patient_search .patient_table table thead tr {
    background-color: var(--sec-backg);
}
/* end patient_search */    