* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Kufi Arabic", sans-serif;
    direction: rtl;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --main-color: #1400ff;
    --aqua-color: #57b6f6;
    --main-dark: #180d8d;
    --sec-color: #1712e2;
    --thd-color: #3532b4;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #414141;
    --gray2-color: #c9c9c9;
    --gray-week: #ababab50;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.clm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    row-gap: 20px;
    column-gap: 30px;
}

.btn {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to right, var(--sec-color),var(--thd-color));
    color: var(--white-color);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    transition: .3s;
    cursor: pointer;
}

.active {
    background-color: var(--gray-week) !important;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-image: linear-gradient(to right, var(--sec-color),var(--main-dark));
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    box-shadow: 0 0 10px 1px var(--main-color);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.display {
    display: flex;
}

.width {
    width: 280px !important;
}

.top:hover {
    transform: scale(1.08);
}

@media (max-width: 860px) {
    .top {
        display: none !important;
    }
}

.logo {
    gap: 10px;
}

.logo img {
    width: 30px;
}

.logo h1 {
    font-size: 30px;
    color: var(--white-color);
}

.logo h1 span {
    color: var(--aqua-color);
}

/* side start */

.main {
    height: 100vh;
    background-color: var(--white-color);
    gap: 0;
    overflow: hidden;
}

aside {
    height: 100%;
    width: 60px;
    padding: 10px;
    justify-content: space-between !important;
    transition: .5s;
    background-image: linear-gradient(110deg , var(--main-dark),var(--thd-color) 60%, var(--main-dark));
}

aside .main-content {
    width: 100%;
}

aside header {
    width: 100%;
    justify-content: space-between !important;
    margin-bottom: 20px;
}

aside header button {
    width: 30px;
    height: 30px;
    font-size: 23px;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
}

aside .links {
    width: 100%;
}

aside .links .link {
    padding: 2px 10px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 20px;
    font-size: 15px;
    color: var(--white-color);
    transition: .3s;
}

aside .links .link:hover {
    background-color: var(--gray-week);
}

aside form {
    width: 100%;
    border-radius: 20px;
}

aside form button {
    width: 100% !important;
    border-radius: inherit;
    background-color: transparent;
    background-image: none !important;
    cursor: pointer;
    transition: .3s;
}

aside form button i {
    font-size: 17px;
}

aside form button:hover {
    /* background-color: var(--gray-week); */
    background-color: #eb51518a;
}

/* content start */

.content {
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    gap: 0px;
    position: relative;
}

.content header,
.content .patients .head {
    width: 100%;
    background-color: var(--gray-week);
    justify-content: space-between;
    padding: 5px 20px;
}

.content header h1 {
    font-size: 18px;
    color: var(--black-color);
}

.content form div {
    /* gap: 0; */
    justify-content: flex-start;
    background-color: var(--white-color);
    padding: 5px 10px;
    border-radius: 10px;
    width: 350px;
}

.content form input {
    width: 100%;
    font-size: 14px;
    color: var(--black-color);
}

.content form i {
    color: var(--black-color);
    font-size: 14px;
}

.content form button {
    width: 80px;
    height: 35px;
    cursor: pointer;
}

.content header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content .patients {
    padding: 20px;
    width: 100%;
    gap: 0;
    height: 100%;
}

.content .patients .head {
    border-radius: 10px 10px 0 0;
}

.content .patients .head h1 {
    font-size: 18px;
    color: var(--black-color);
} 

.content .patients .head img {
    width: 40px; 
}

.content .patients .table {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    background-color: var(--gray-week);
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.content .patients table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    transition: .3s;
}

.content table td {
    padding: 10px 12px;
}

.content table thead {
    background-color: var(--gray2-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
}

.content table thead td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table thead td:first-child {
    border-radius: 0px 15px 15px 0px;
}

.content table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-color);
    transition: .3s;
}

.content table tbody {
    font-size: 15px;
    color: var(--gray-color);
}

.content table tbody tr:hover {
    background-color: var(--gray-week);
}

.content table tbody td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table tbody td:first-child {
    border-radius: 0px 15px 15px 0px;
}
.content table tbody td form button {
    font-size: 12px;
    width: 70px;
    background-color: var(--gray-week);
    padding: 3px;
    border-radius: 10px;
}
.content table tbody td form button:hover {
    transform: scale(1);
}
.content table tbody td .dots {
    padding: 0px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--black-color);
    background-color: var(--gray-week);
    border-radius: 10px;
}

.medical-history {
    position: absolute;
    background-color: var(--gray-week);
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px 20px;
    z-index: 20;
    /* justify-content: space-between; */
    /* border-radius: 20px; */
}

.medical-history > a {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--main-dark);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.medical-history .header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.medical-history .header h1 {
    font-size: 25px;
    color: var(--main-color);
    padding-right: 40px;
}

.medical-history .header img {
    width: 40px;
}

.medical-history .details {
    width: 100%;
}

.medical-history .details .name {
    font-size: 15px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.medical-history .details form {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.medical-history .details .detail {
    width: 500px;
    justify-content: flex-start;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 20px;
}

.medical-history .details .detail:not(:last-child) {
    border-bottom: 1px solid var(--black-color);
}

.medical-history .details .detail h1 {
    width: 200px;
    font-size: 20px;
}

.medical-history .details .detail input,
.medical-history .details .detail textarea {
    width: 200px;
    font-size: 17px;
    background-color: transparent;
}

.medical-history .details .detail textarea {
    resize: none;
    height: 150px;
}

.medical-history .details > h1 {
    align-self: flex-end;
    color: var(--main-color);
    margin-top: 20px;
}

/* treatment start */

.content .treatment {
    padding: 20px;
    width: 100%;
    gap: 5px;
    height: 100%;
    /* background-color: #1400ff; */
}

.content .treatment .t-details {
    width: 100%;
    height: 100%;
    background-color: #c8c8c856;
    border-radius: 10px;
}

.content .treatment .t-details header {
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 3px solid var(--black-color);
    padding: 0 0 0px 0;
}

.content .treatment .t-details .dr-details {
    justify-content: space-between;
    width: 646px;
}

.content .treatment .t-details .dr-details img {
    width: 120px;
    height: 170px;
}

.content .treatment .t-details .dr-name {
    width: 450px;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    color: var(--white-color);
    background-image: linear-gradient(to right , var(--main-dark), var(--sec-color));
    padding: 5px 30px;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.content .treatment .t-details .dr-name::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    left: -35.5%;
    top: 0;
    border: 80px solid var(--main-dark);
    border-color: transparent var(--main-dark) transparent transparent;
}

.content .treatment .t-details .dr-name h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: -7px;
}

.content .treatment .t-details .dr-name h1 {
    font-size: 30px;
    color: var(--white-color);
    margin-bottom: -7px;
}

.content .treatment .t-details .dr-name p {
    font-size: 17px;
    text-align: center;
    font-weight: 200;
}

.content .treatment .t-details form {
    gap: 0;
}

.content .treatment .t-details form input {
    width: 200px;
    background-color: transparent;
    font-size: 17px;
    color: var(--black-color);
    font-weight: 500;
}

.content .treatment .t-details form h1 {
    font-size: 18px;
    color: var(--black-color);
}

.content .treatment .t-details form div {
    width: 300px;
    background-color: transparent;
    gap: 5px;
    padding: 1px;
}

.content .treatment .t-details .body {
    width: 100%;
    padding: 10px;
    gap: 0;
}

.content .treatment .t-details .body h1 {
    font-size: 23px;
    color: var(--black-color);
    margin: -10px 0 -5px;
    direction: ltr;
}

.content .treatment .t-details .body textarea {
    width: 100%;
    background-color: transparent;
    font-size: 17px;
    color: var(--black-color);
    font-weight: 400;
    height: 300px;
}

.content .treatment .t-details footer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid var(--black-color);
}

.content .treatment .t-details footer .location {
    font-size: 10px;
    color: var(--black-color);
    width: 50%;
    /* background-color: #1400ff; */
}

.content .treatment .t-details footer .location i {
    font-size: 14px;
}

.content .treatment .t-details footer .location div:nth-of-type(2) {
    justify-content: space-between;
    width: 100%;
}

.content .treatment footer .location div:nth-of-type(2) h1:first-child {
    color: red;
}

.content .treatment footer .location div:nth-of-type(2) h1:last-child {
    color: var(--sec-color);
}

.content .treatment .t-details footer .contact {
    width: 25%;
    justify-content: space-between;
}

.content .treatment .t-details footer .contact img {
    width: 40px;
}

.content .treatment .t-details footer .contact div h1 {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
}

.content .treatment .t-details footer .contact div i {
    color: var(--black-color);
}

.content .treatment button {
    width: 120px;
}

/* report start */

.report {
    /* background-color: #1400ff; */
    width: 100%;
    height: 100%;
    padding: 20px;
}

.report .report-content {
    width: 100%;
    height: 100%;
}

.report-content header {
    width: 100%;
    background-color: var(--gray-week);
    flex-direction: column;
    padding: 10px 10px 30px;
    border-radius: 10px;
}

.report-content header img {
    border-radius: 0;
    align-self: flex-end;
    height: 50px;
}

.report-content header .send-report {
    width: 400px;
    height: 140px;
    background-image: linear-gradient(to right, var(--main-dark), var(--sec-color));
    padding: 10px;
    border-radius: inherit;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: var(--white-color);
}

.report-content header .send-report i,
.report-content header .send-report h1 {
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
}

.report-content header .send-report button {
    background-color: transparent;
    color: var(--white-color);
    border-radius: inherit;
    width: 90px;
    height: 35px;
    font-size: 15px;
    box-shadow: -1px -.4px 2px 1px var(--white-color);
    cursor: pointer;
    transition: .3s;
}

.report-content header .send-report button:hover {
    background-color: var(--white-color);
    color: var(--sec-color);
    box-shadow: none;
    font-size: 16px;
}

.report-content .reports {
    width: 100%;
    height: 60%;
    background-color: var(--gray-week);
    border-radius: 10px;
    padding: 10px;
}

.content .reports > h1 {
    font-size: 25px;
    color: var(--black-color);
}

.content .reports .table {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    /* background-color: var(--gray-week); */
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.content .reports table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    transition: .3s;
}

.content table td {
    padding: 10px 12px;
}

.content table tbody form button {
    background-color: transparent;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.content table tbody form button i {
    font-size: 17px;
    font-weight: 800;
    color: var(--black-color);
}

.content table tbody form button:hover {
    transform: scale(1.1);
}

.content table tbody td > a {
    background-color: var(--gray2-color);
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.content table thead {
    background-color: var(--gray2-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
}

.content .reports table tr {
    transition: .3s;
}

.content table thead td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table thead td:first-child {
    border-radius: 0px 15px 15px 0px;
}

.content table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-color);
    transition: .3s;
}

.content table tbody {
    font-size: 15px;
    color: var(--gray-color);
}

.content table tbody tr:hover {
    background-color: var(--gray-week);
}

.content table tbody td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table tbody td:first-child {
    border-radius: 0px 15px 15px 0px;
}

.report .header h1 {
    text-align: center;
    width: 100%;
    padding: 0;
    color: var(--black-color);
}

.report .details p {
    width: 100%;
    resize: none;
    height: 500px;
    border-bottom: 1px solid var(--black-color);
    font-size: 20px;
}

.report .details h1 {
    color: var(--black-color);
}

.medical {
    justify-content: flex-start;
    gap: 80px;
}
.medical .header h1 {
    padding-right: 0;
}

.medical .details {
    height: 85%;
    justify-content: space-between;
}

.medical .details .detail h1 {
    width: fit-content;
}

.medical .details form .detail {
    border-bottom: 1px solid var(--black-color);
}

.medical .parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.medical .details .detail input,
.medical .details .detail textarea {
    width: 280px;
    /* background-color: #57b6f6; */
}

/* .medical .details .detail:last-child {
    border-bottom: inherit;
} */

.medical .details .ok {
    width: 100%;
    background-color: transparent;
}

.medical .details .ok button {
    width: 120px;
}

.report-send {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gray2-color);
    padding: 30px;
    display: none;
    z-index: 20;
}

.report-send form {
    border: 2px solid var(--black-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white-color);
    height: 100%;
    width: 100%;
    position: relative;
}

.report-send form i {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: var(--black-color);
    cursor: pointer;

}

.report-send form header {
    background-color: transparent;
}

.report-send form header img {
    border-radius: 0;
    height: fit-content;
}

.report-send form header h1 {
    font-size: 25px;
    color: var(--black-color);
}

.report-send form .body {
    border-bottom: 1px solid var(--black-color);
    border-radius: 0;
    width: 100%;
    height: 80%;
}

.report-send form .body h1 {
    direction: ltr;
    font-size: 25px;
    color: var(--black-color);
}

.report-send form .body textarea {
    resize: none;
    width: 100% !important;
    height: 100% !important;
    font-size: 17px;
    color: var(--black-color);
}

.report-send form > button {
    width: 120px;
}
/* patient_search */
.patient_search {
    width: 97%;
    margin: 20px;
    background-color: var(--gray-week);
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.patient_search form {
    margin-top: 20px;
    margin-bottom: 20px;
}
.patient_search form label {
    font-weight: bold;
    display: block;
}
.patient_search form input {
    width: 500px;
    padding: 5px 10px;
    border-radius: 10px;
}
.patient_search form button {
    display: block;
    margin-top: 20px;
}
.patient_search .patient_table {
    transition: .5s;
}
.patient_search .patient_table table {
    width: 100%;
    border-spacing: 0;
    transition: .5s;
}
.patient_search .patient_table table thead tr {
    background-color: var(--gray2-color);
}
.patient_search .patient_table table tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--black-color);
}
/* end patient_search */

.medical-history .det_table {
    height: 88%;
    justify-content: space-between;
}
.medical-history .det_table .m_h-table {
    width: 100%;
}
.medical-history .det_table .m_h-table table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}